.. {{ component }}.README,
   created by fetch_deps.py -> auto_readme_template.rst.j2
   {{ date.strftime('%m-%d-%Y:%H:%M') }}

{{ title | replace('-', ' ') }}
{{ '=' * (title | length) }}

{% if description %}
{{ description | trim }}
{% endif %}

{% if add_toc %}
{% include auto_toc.j2 %}
{% endif %}
