.. {{ name }}.static_file_include,
   created by fetch_deps.py -> raw_file_template.rst.j2
   {{ date.strftime('%m-%d-%Y:%H:%M') }}
   version info {{ version_info['commit'] }}

{{ name | replace('-', ' ') | title }}
{{ '=' * (name | length) }}

{% if description %}
{{ description | trim }}

{% endif %}

.. literalinclude:: {{ path }}
  :language: {{ highlight }}


{% if add_toc %}
{% include auto_toc.j2 %}
{% endif %}
