
.function > dd > p, .method > dd > p {
  white-space: pre;
}

.wy-nav-side{
  background: none;
  z-index: 202 !important;
}

#float-pipe{
  height: 120px;
  left: 0;
  display: block;
  position: absolute;
  z-index: 201 !important;
  background: url("../images/piperci.png") center no-repeat content-box padding-box  !important;

}

@media screen and (max-width: 768px){

  .wy-grid-for-nav {
    background: #3F3C30;
  }

}
